:root {
  --body: #131313;
  --text: #FAFAFA;
  --chatText: #2f2f2f;
  --chatHoverText: #2e2e2e;
  --toggleBorder: #6B8096;
  --background: #999;
  --navBg: #000;
  --navBorderColor: transparent;
  --inputTextColor: white;
  --inputBg: #1e1e1e;
  --inputBorderColor: transparent;
  --suggestionBg: #303030;
  --suggestionHover: #a6aab81f;
  --cardColor: #222222;
  --searchBarColor: #2b2b2b;
  --sideBarColor: #000;
  --sideBarHoverColor: rgba(181, 181, 181, 0.05);
  --togglerColor: white;
  --searchBarFocus: white;
  --autoCompleteBackgroundColor: #292929;
  --titleColor: #99c3ff;
  --urlColor: #9c9c9c;
  --imageTitleColor: white;
  --imageCardColor: #222222;
  --textareaBorderColor: black;
  --attachmentColor: #656565;
  --red: #f44336;
  --white: #FFFFFF;
  --black: #000000;
  --grey: #999999;
  --darkGrey: #333333;
  --primaryColor: #FAFAFA;
  --secondaryColor: #999999;
  --primary: #bb86fc;
}

[data-theme='light'] {
  --body: #e5e8ec;
  --text: #363537;
  --toggleBorder: #FFF;
  --chatHoverText: #c5c5c5;
  --background: linear-gradient(#39598A, #79D7ED);
  --navBg: #FFF;
  --navBorderColor: 1px solid grey;
  --inputTextColor: black;
  --inputBg: #ffffff;
  --inputBorderColor: 1px solid #7c7c7c;
  --suggestionBg: #f8f8f8;
  --suggestionHover: #657c9f1f;
  --cardColor: white;
  --searchBarColor: #d7dfe8;
  --sideBarColor: #edeef0;
  --sideBarHoverColor: #b5b5b5;
  --togglerColor: #e5e8ec;
  --searchBarFocus: #dfdfdf;
  --autoCompleteBackgroundColor: white;
  --titleColor: #686cb9;
  --urlColor: #3d7e8f;
  --imageTitleColor: #474747;
  --imageCardColor: #f4f4f4;
  --textareaBorderColor: black;
  --attachmentColor: #e4e4e4;
  --red: #f44336;
  --white: #FFFFFF;
  --black: #000000;
  --grey: #999999;
  --darkGrey: #333333;
  --primaryColor: #111111;
  --secondaryColor: #999999;
  --primary: #bb86fc;
}
